# Compiled binaries
/spotumn
!cmd/spotumn/
!cmd/spotumn/**
bin/
dist/

# Test binaries
/test/
*.test
*_test.go

# Output of the go coverage tool
*.out

# Cache
*credentials*.json
last_state.json
cache/
art_cache/
*.log

# OS / Editor temporary files
.DS_Store
.vscode/
.idea/
*.swp
*~
