# Compiled binaries
-spotumn
+/spotumn
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
dist/

# Test binaries
*.test

# Output of the go coverage tool
*.out

# Cache
*credentials*.json
last_state.json
cache/
art_cache/
*.log

# OS / Editor temporary files
.DS_Store
.vscode/
.idea/
*.swp
*~
